@font-face {
  font-family: 'SamsungSans';
  src: url('~/assets/fonts/SamsungSans-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'SamsungSans';
  src: url('~/assets/fonts/SamsungSans-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'SamsungSans';
  src: url('~/assets/fonts/SamsungSans-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}
