$font-color: #1d1d20;
$btn-select-color: #1d1d20;
$btn-select-text-color: #fefefe;
$font-color-grey: rgba(29, 29, 32, 0.3);
$color-variable: #4ea5d9;
$bg-select: #f3f3f3;
$text-family: 'SamsungSans';
